/* ~~~~~~~~~~~~~~~~~~~~~settings&basic~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --color-beige:#FFFEE9;
    --color-brown:#5E4034;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: #FFFEE9
}

@font-face {
    font-family: "Diary";
    src: url("fonts/EF_Diary.ttf") format("truetype");
}
@font-face {
    font-family: "Cafe";
    src: url("fonts/Cafe24Ssurround.ttf") format("truetype");
}
@font-face {
    font-family: 'Zen Kurenaido', sans-serif;
    src: url("ZenKurenaido-Regular.ttf") format("truetype");
}

.cafe{
    font-family: "Cafe"; 
    font-size: 3rem;
    color: var(--color-brown)
} 
.diary{
    font-family: "Diary";
    font-size: 2.5rem;
    color: var(--color-brown)
}
.Bdiary{
    font-family: "Diary";
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}
.Mdiary{
    font-family: "Diary";
    font-size: 2rem;
    color: var(--color-brown)
}
.Bzen{
    font-family: "Zen Kurenaido";
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~navigation~~~~~~~~~~~~~~~~~~~~~ */

nav{
    position: fixed;
    width: 100%;
    height: 120x;
    top: 0;
    background-color: #FFFAC2;
    z-index: 100;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 120x;
    margin: 0 auto;
    z-index: 101;
}

li{
    z-index: 101;
}

.navibt01{
    padding-left: 50px;
    padding-right: 23px;
    z-index: 101;
}
.navibt02{
    z-index: 101;
}
.navibt03{
    z-index: 101;
}
.navibt04{
    z-index: 101;
}

.navi-img{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 210px;
    z-index: 99;
}

/* ~~~~~~~~~~~~~~~~~~~~~index(page0)~~~~~~~~~~~~~~~~~~~~~ */

.mainpagesnow{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 1080px;
    /* height: 100vh; */
    z-index: 1;
    opacity: 50%;
  }

.page00{
    background-color: #FFFEE9
}

.page00-body{
    width: 1920px;
}

.page00-img01-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1080px;
    top: 0;
}

.page00-logo-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 260px;
    top: 110px;
}
.page00-logo-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 260px;
    z-index: 2;
}

.page00-button-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 609px;
    top: 346px;
}
.page00-button-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 307px;
    height: 609px;
}

.page00-button{
    position: absolute;
    width: 307px;
    height: 232px;
}
.button01{
    top: 0px;
    z-index: 2;
}
.button02{
    top: 190px;
    z-index: 3;
}
.button03{
    bottom: 0px;
    z-index: 4;
}

.page00-footer{
    padding-top: 1025px
}
.page00-footer-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
    background-color: white;
    opacity: 50%;
}
.page00-footer-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.page00-footer-letter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    height: 55px;
    text-align: center;
}