.page03-body{
    /* width: 1920px; */
    width: 100%;
    height: 3850px;
    padding-top: 120px;
}

/* ~~~~~~~~~~~~~~~~~~~~~sub03(page03)~~~~~~~~~~~~~~~~~~~~~ */

.page03-img01-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    top: 0;
    margin-top: 120px;
}

.page03-txt01-all{
    margin-top: 820px;
}
.page03-txt01-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.page03-txt01-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 800px;
    text-align: center;
}

.page03-bookmark-container{
    padding-top: 770px;
}
.page03-bookmark-img{
    width: 100%;
    height: 70px;
    text-align: center;
}
.page03-bookmark{
    width: 100%;
    height: 200px;
    background-color: #F8F4C5
}
.page03-bookmark-txt-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-image: url(img/img25.png);
    background-position: center;
    background-size: cover;
}
.page03-bookmark-txt-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.page03-bookmark-txt-letter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 200px;
    text-align: center;
}

.page03-txt02-all{
    margin-top: 50px;
}
.page03-txt02-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.page03-txt02-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 800px;
    text-align: center;
}

.page03-img02-all{
    padding-top: 850px;
}
.page03-img02-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.page03-footer{
    margin-top: 750px;
}
.page03-footer-color{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #D0EAEA;
}
.page03-footer-img{
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
}